---
---

<!-- About Section -->
<div class="min-h-screen lg:flex lg:justify-between lg:gap-5">
  <!-- Left side -->
  <div class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24">
    <div>
      <h1 class="font-fira leading-none mt-0 p-0">Rodrigo Arismendi</h1>
      <h2 class="text-green-600 mt-3 text-lg font-fira tracking-tight sm:text-xl">
        Computer Science Graduate
      </h2>
      <p class="mt-4 max-w-xs leading-normal">
        Data pipelines, kimball data modeling and AWS Solutions
      </p>
      <!-- Image Container -->
      <div class="flex items-center justify-center">
        <img
          src="/rodrigo_photo.jpeg"
          alt="Profile Picture"
          class="rounded-full object-cover w-2/4 sm:w-1/2 lg:w-1/2"
        />
      </div>
    </div>
  </div>

  <!-- Right side -->
  <div class="pt-24 lg:w-1/2 lg:py-24">
    <div class="mb-16 font-fira scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
      <p class="mb-4">
        Graduated with a Bachelor's degree in Computer Science from
        <a
          class="inline items-center font-fira text-green-200 hover:text-green-600 focus-visible:text-green-300 group/link"
          href="https://www.uptp.edu.py/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Data Engineer"
        >
          Universidad Politécnica Taiwán-Paraguay (Asunción, Paraguay)<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        and completed a study abroad program at the
        <a
          class="inline items-center font-fira text-green-200 hover:text-green-600 focus-visible:text-green-300 group/link"
          href="https://www.ntust.edu.tw/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Data Engineer"
        >
          National Taiwan University of Science and Technology (Taipei,
          Taiwan).<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </p>
      <p class="mb-4">
        I have currently 2 year of experience in Cloud Data Engineering in
        AWS and Devops On-Premise in Oracle Databases.
      </p>
    </div>
  </div>
</div>