---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="top-bar">
    <span class="close-mark">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="white"
        viewBox="0 0 16 16"
      >
        <path
          d="M1.646 1.646a.5.5 0 011 0L8 7.293l5.354-5.647a.5.5 0 11.707.707L8.707 8l5.647 5.354a.5.5 0 01-.707.707L8 8.707l-5.354 5.647a.5.5 0 01-.707-.707L7.293 8 1.646 2.646a.5.5 0 010-.707z"
        ></path>
      </svg>
    </span>
  </div>
  <nav>
    <div class="font-inter internal-links">
      <!-- Add data-scroll attribute to links for smooth scrolling -->
      <HeaderLink href="#hello" data-scroll>hello.html</HeaderLink>
      <HeaderLink href="#about" data-scroll>about.css</HeaderLink>
      <HeaderLink href="#experience" data-scroll>experience.ts</HeaderLink>
      <HeaderLink href="#projects" data-scroll>project.js</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    background: #252525;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #252525;
  }
  nav a {
    padding: 0 1em;
    color: white;
    background-color: #2d2d2d;
    border: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    background-color: #1e1e1e;
    color: #16ac4d;
    border-top: 4px solid #16ac4d;
  }
  .top-bar {
    height: 20px;
    width: 100%;
    position: relative;
  }
  .close-mark {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .close-mark svg {
    width: 16px;
    height: 16px;
    fill: white;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollLinks = document.querySelectorAll("a[data-scroll]");
    scrollLinks.forEach((link) => {
      link.addEventListener("click", function (e) {
        e.preventDefault();
        const targetId = (this as HTMLAnchorElement).getAttribute("href")?.substring(1);
        const targetElement = document.getElementById(targetId);
        if (targetElement) {
          targetElement.scrollIntoView({ behavior: "smooth" });
          window.history.pushState(null, "", window.location.pathname);
        }
      });
    });
  });
</script>
